# Database Configuration
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database_name  # Biarkan kosong atau hapus baris ini jika ingin backup semua database

# Google Drive Configuration
GDRIVE_FOLDER_ID=your_gdrive_folder_id_here
SERVICE_ACCOUNT_FILE=credentials.json

# Backup Configuration
BACKUP_DIR=/path/to/your/backup/dir  # Contoh di Ubuntu: /var/backups/mysql
RETENTION_DAYS=30

# File Backup Configuration
# Masukkan lokasi direktori yang ingin dibackup, pisahkan dengan koma
BACKUP_PATHS=/var/www/html/ojs,/var/www/html/wordpress
